= form_for @employee, :html => {:multipart => 'true'} do |f|
  %table
    %tr.fields
      %td= f.label :first_name 
      %td= f.text_field :first_name
      %td.error= display_error_messages(:first_name)

    %tr.fields
      %td= f.label :last_name, "Last Name" 
      %td= f.text_field :last_name
      %td.error= display_error_messages(:last_name)

    %tr.fields
      %td= f.label :employee_code, "Employee Code"
      %td= f.text_field :employee_code  
      %td.error= display_error_messages(:employee_code)
   
    
    %tr.fields
      %td= f.label :photo
      %td= f.file_field :photo, :style=>"width: 5px" 
      - if @employee.photo.exists?
        %td= image_tag @employee.photo.url(:small)
    = f.fields_for :user do |p| 
      %tr.fields
        %td= p.label :email
        %td= p.email_field :email, :readonly => f.object.persisted? 
        %td.error= error_messages(:email)   
  
      %tr.fields
        %td= p.label :username 
        %td= p.text_field :username 
        %td.error= error_messages(:username) 
  %div
    = f.submit class: 'button' 


