= form_for @project do |f|
  %table
    %tr.field
      %td= f.label :client_list_id , "Client" 
      %td= f.select(:client_list_id, options_for_select(ClientList.client_list.collect {|c| [c.name, c.id] }, :selected => @project.client_list_id), :include_blank => 'select client')  
      %td= display_error(:client_list_id) 

    %tr.field
      %td= f.label :name 
      %td= f.text_field :name, size: 20 
      %td= display_error(:name) 

    %tr.field
      %td= f.label :code 
      %td= f.text_field :code, size: 20 
      %td= display_error(:code) 
      
  .action
    = f.submit class: 'button'     
