<div id ="timesheet_report">
<h1>Check Report</h1>

<%= form_tag(admin_path, method: :post) do  %> 
  
  <table id="report">
  
    <tr class="goldy">
      <th><%= label_tag :employee_id %></th>
      <th><%= label_tag :client_list_id %></th>
      <th><%= label_tag :project_id %></th>
      <th><%= label_tag :activity_id %></th>
     
      <th><%= label_tag :from %></th>
      <th><%= label_tag :to %></th>
    </tr>
     <%= render  :partial => 'admin' %>
     <br />
    <td><%= submit_tag "Find", :class => 'find' %></td>
  </table>
<% end %>

<% if @tasksheets.present? %>

  <table id="report">
    <tr id ="list">
      <th>Employee</th>
      <th>Client List</th>
      <th>Project</th>
      <th>Activity</th>
      <th>Task</th>
      <th>Date</th>
      <th>In Time</th>
      <th>Out Time</th>
      <th>Remarks</th>
    </tr>
    
    <%= form_tag({:controller => 'tasksheets', :action => 'admin_report_submit'}, method: :post,  :id => "admin_form" ) do %>
      <% hidden_value = 0 %>
      <% @hidden_value_array = Array.new %>
     
        <% @tasksheets.sort{|a,b| a.date <=> b.date}.each do |tasksheet| %>  
          <% @same_date = tasksheet.date if @same_date.blank? %>
          <% if @same_date == tasksheet.date %>
            <% @hidden_value_array << hidden_value %>
      
            <tr id ="description">
              <td><%= hidden_field_tag "employee_id_#{hidden_value}", tasksheet.employee_id %>
                <%= tasksheet.employee.first_name %></td>
              <td><%= hidden_field_tag "client_list_id_#{hidden_value}", tasksheet.client_list_id %>
                <%= tasksheet.client_list.name %></td>  
              <td><%= hidden_field_tag "project_id_#{hidden_value}", tasksheet.project_id %>
                <%= tasksheet.project.name %></td>
              <td><%= hidden_field_tag "activity_id_#{hidden_value}", tasksheet.activity_id %>
                <%= tasksheet.activity.name %></td>
              <td><%= hidden_field_tag "task_#{hidden_value}", tasksheet.task %>
                <%= tasksheet.task %></td>
              <td><%= hidden_field_tag "date_#{hidden_value}", tasksheet.date %>
                <%= tasksheet.date.to_date %></td>
              <td><%= hidden_field_tag "in_time_#{hidden_value}", tasksheet.in_time %>
                <%= tasksheet.in_time.to_s(:time) %></td>
              <td><%= hidden_field_tag "out_time_#{hidden_value}", tasksheet.out_time %>
                <%= tasksheet.out_time.to_s(:time) %></td>
              <td><%= hidden_field_tag "remarks_#{hidden_value}", tasksheet.remarks %>
                <%= tasksheet.remarks %></td>
            </tr>
          <% else %>
            <tr>
              <td><%= submit_tag "Accept for #{@same_date.to_date}", :name => 'accept' %></td>
              <td><%= submit_tag "Reject for #{@same_date.to_date}" , :name => 'reject', :id => "reject_individual_#{@same_date.to_date}"%></td>
               <td><%= text_field_tag "comments_#{@same_date.to_date}", "" , :id => "individual_comments_#{@same_date.to_date}" %></td>
               
            </tr>
             <script>
           $('#individual_comments_<%= @same_date.to_date %>').hide();
           
              $('#reject_individual_<%= @same_date.to_date %>').click(function (e) {
                e.preventDefault();
                if ($('#individual_comments_<%= @same_date.to_date %>').val() == "")
                  {
                    $('#individual_comments_<%= @same_date.to_date %>').show();
                  }
                else
                 {
                 var myId = $('#reject_individual_<%= @same_date.to_date %>').val();
               
                 $('#reject_params').val(myId);
                  
                    $("#admin_form").submit();
                 }
               });

     
            </script>
            
         
            <% @hidden_value_array << hidden_value %>
            <tr id ="description">
              <td><%= hidden_field_tag "employee_id_#{hidden_value}", tasksheet.employee_id%>
                <%= tasksheet.employee.first_name %></td>
              <td><%= hidden_field_tag "client_list_id_#{hidden_value}", tasksheet.client_list_id %>
                <%= tasksheet.client_list.name %></td>  
              <td><%= hidden_field_tag "project_id_#{hidden_value}", tasksheet.project_id %>
                <%= tasksheet.project.name %></td>
              <td><%= hidden_field_tag "activity_id_#{hidden_value}", tasksheet.activity_id %>
                <%= tasksheet.activity.name %></td>
              <td><%= hidden_field_tag "task_#{hidden_value}", tasksheet.task %>
                <%= tasksheet.task %></td>
              <td><%= hidden_field_tag "date_#{hidden_value}", tasksheet.date %>
                <%= tasksheet.date.to_date %></td>
              <td><%= hidden_field_tag "in_time_#{hidden_value}", tasksheet.in_time %>
                <%= tasksheet.in_time.to_s(:time) %></td>
              <td><%= hidden_field_tag "out_time_#{hidden_value}", tasksheet.out_time %>
                <%= tasksheet.out_time.to_s(:time) %></td>
              <td><%= hidden_field_tag "remarks_#{hidden_value}", tasksheet.remarks %>
                <%= tasksheet.remarks %></td>
            </tr>
          <% end %>
           <% @same_date = tasksheet.date %>
           <% hidden_value += 1 %>
           
               
        <% end %> 
      
          <tr>
            <td><%= submit_tag "Accept for #{@same_date.to_date}" , :name => 'accept'%></td>
            <td><%= submit_tag "Reject for #{@same_date.to_date}", :name => 'reject', :id => "reject_individual_#{@same_date.to_date}" %></td>
               <td><%= text_field_tag "comments_#{@same_date.to_date}", "" , :id => "individual_comments_#{@same_date.to_date}" %></td>
        </tr>
         <script>
           $('#individual_comments_<%= @same_date.to_date %>').hide();
           
              $('#reject_individual_<%= @same_date.to_date %>').click(function (e) {
                e.preventDefault();
                if ($('#individual_comments_<%= @same_date.to_date %>').val() == "")
                  {
                    $('#individual_comments_<%= @same_date.to_date %>').show();
                  }
                else
                 {
                 var myId = $('#reject_individual_<%= @same_date.to_date %>').val();
               
                 $('#reject_params').val(myId);
                  
                    $("#admin_form").submit();
                 }
               });

     
            </script>
        
      
  </table>
  <%= hidden_field_tag  "hidden_value_array", @hidden_value_array  %> 
  <tr>
    <td><%= submit_tag 'Accept for all', :name => "accept_all"%></td>
    <td><%= submit_tag "Reject for All", :name => "reject_all", :id => 'reject_all' %></td>
     <td><%= text_field_tag "comments", "" , :class => 'comments' %></td>
     </tr>
     <script>
           $('.comments').hide();
           
              $('#reject_all').click(function (e) {
                e.preventDefault();
                $('.comments').show();
            
                if ($('.comments').val() != "") {
                var myId = $('#reject_all').val();
               
                 $('#reject_all_params').val(myId);
                  
               
                  $('#admin_form').submit();
                  }
               });

     
     </script>
     <td><%= hidden_field_tag "reject_params", "" %></td>
     <td><%= hidden_field_tag "reject_all_params" , "" %></td>
     <% end %>
    
<% end %>

<% if @tasksheet_not_saved.present? %>

  <table id="report">
    <tr id ="list">
      <th>Employee</th>
      <th>Client List</th>
      <th>Project</th>
      <th>Activity</th>
      <th>Task</th>
      <th>Date</th>
      <th>In Time</th>
      <th>Out Time</th>
      <th>Remarks</th>
    </tr>
    
    <%= form_tag({:controller => 'tasksheets', :action => 'admin_report_submit'}, method: :post,  :id => "my_form" )  do %>
      <% hidden_value = 0 %>
      <% @hidden_value_array = Array.new %>
     
        <% @tasksheet_not_saved.sort{|a,b| a.date <=> b.date}.each do |tasksheet| %>  
          <% @same_date = tasksheet.date if @same_date.blank? %>
          <% if @same_date == tasksheet.date %>
            <% @hidden_value_array << hidden_value %>
      
            <tr id ="description">
              <td><%= hidden_field_tag "employee_id_#{hidden_value}", tasksheet.employee_id%>
                <%= tasksheet.employee.first_name %></td>
              <td><%= hidden_field_tag "client_list_id_#{hidden_value}", tasksheet.client_list_id %>
                <%= tasksheet.client_list.name %></td>  
              <td><%= hidden_field_tag "project_id_#{hidden_value}", tasksheet.project_id %>
                <%= tasksheet.project.name %></td>
              <td><%= hidden_field_tag "activity_id_#{hidden_value}", tasksheet.activity_id %>
                <%= tasksheet.activity.name %></td>
              <td><%= hidden_field_tag "task_#{hidden_value}", tasksheet.task %>
                <%= tasksheet.task %></td>
              <td><%= hidden_field_tag "date_#{hidden_value}", tasksheet.date %>
                <%= tasksheet.date.to_date %></td>
              <td><%= hidden_field_tag "in_time_#{hidden_value}", tasksheet.in_time %>
                <%= tasksheet.in_time.to_s(:time) %></td>
              <td><%= hidden_field_tag "out_time_#{hidden_value}", tasksheet.out_time %>
                <%= tasksheet.out_time.to_s(:time) %></td>
              <td><%= hidden_field_tag "remarks_#{hidden_value}", tasksheet.remarks %>
                <%= tasksheet.remarks %></td>
            </tr>
          <% else %>
            <tr>
              <td><%= submit_tag "Accept for #{@same_date.to_date}", :name => 'accept' %></td>
              <td><%= submit_tag "Reject for #{@same_date.to_date}", :name => 'reject', :id => "reject_individual_#{@same_date.to_date}" %></td>
              <td><%= text_field_tag "comments_#{@same_date.to_date}", "" , :id => "individual_comments_#{@same_date.to_date}" %></td>
              
            </tr>
           <script>
           $('#individual_comments_<%= @same_date.to_date %>').hide();
           
              $('#reject_individual_<%= @same_date.to_date %>').click(function (e) {
                e.preventDefault();
                if ($('#individual_comments_<%= @same_date.to_date %>').val() == "")
                  {
                    $('#individual_comments_<%= @same_date.to_date %>').show();
                  }
                else
                 {
                 var myId = $('#reject_individual_<%= @same_date.to_date %>').val();
               
                 $('#reject_params').val(myId);
                  
                    $('#my_form').submit();
                 }
               });

     
            </script>
            
         
 
            <% @hidden_value_array << hidden_value %>
            <tr id ="description">
              <td><%= hidden_field_tag "employee_id_#{hidden_value}", tasksheet.employee_id%>
                <%= tasksheet.employee.first_name %></td>
              <td><%= hidden_field_tag "client_list_id_#{hidden_value}", tasksheet.client_list_id %>
                <%= tasksheet.client_list.name %></td>  
              <td><%= hidden_field_tag "project_id_#{hidden_value}", tasksheet.project_id %>
                <%= tasksheet.project.name %></td>
              <td><%= hidden_field_tag "activity_id_#{hidden_value}", tasksheet.activity_id %>
                <%= tasksheet.activity.name %></td>
              <td><%= hidden_field_tag "task_#{hidden_value}", tasksheet.task %>
                <%= tasksheet.task %></td>
              <td><%= hidden_field_tag "date_#{hidden_value}", tasksheet.date %>
                <%= tasksheet.date.to_date %></td>
              <td><%= hidden_field_tag "in_time_#{hidden_value}", tasksheet.in_time %>
                <%= tasksheet.in_time.to_s(:time) %></td>
              <td><%= hidden_field_tag "out_time_#{hidden_value}", tasksheet.out_time %>
                <%= tasksheet.out_time.to_s(:time) %></td>
              <td><%= hidden_field_tag "remarks_#{hidden_value}", tasksheet.remarks %>
                <%= tasksheet.remarks %></td>
            </tr>
          <% end %>
          <% hidden_value += 1 %>
          <% @same_date = tasksheet.date %>
            
        <% end %>
          <tr>
            <td><%= submit_tag "Accept for #{@same_date.to_date}" , :name => 'accept'%></td>
            <td><%= submit_tag "Reject for #{@same_date.to_date}", :name => 'reject', :id => "reject_individual_#{@same_date.to_date}" %></td>
               <td><%= text_field_tag "comments_#{@same_date.to_date}", "" , :id => "individual_comments_#{@same_date.to_date}" %></td>

          </tr>
          <script>
           $('#individual_comments_<%= @same_date.to_date %>').hide();
           
              $('#reject_individual_<%= @same_date.to_date %>').click(function (e) {
                e.preventDefault();
                if ($('#individual_comments_<%= @same_date.to_date %>').val() == "")
                  {
                    $('#individual_comments_<%= @same_date.to_date %>').show();
                  }
                else
                 {
                 var myId = $('#reject_individual_<%= @same_date.to_date %>').val();
               
                 $('#reject_params').val(myId);
                  
                    $("#my_form").submit();
                 }
               });

     
            </script>
  </table>
  <%= hidden_field_tag  "hidden_value_array", @hidden_value_array  %> 
  <tr>
    <td><%= submit_tag 'Accept for all', :name => "accept_all"%></td>
    <td><%= submit_tag "Reject for All", :name => "reject_all", :id => 'reject_all' %></td>
    <td><%= text_field_tag "comments", '', :class => 'comments' %></td>
  </tr> 
   <script>
           $('.comments').hide();
           
              $('#reject_all').click(function (e) {
                e.preventDefault();
                $('.comments').show();
                
                if ($('.comments').val() != "") {
                var myId = $('#reject_all').val();
               
                 $('#reject_all_params').val(myId);
                  
               
                  $('#my_form').submit();
                  }
               });

     
     </script>
             <td><%= hidden_field_tag "reject_params", "" %></td>
              <td><%= hidden_field_tag "reject_all_params" , "" %></td>
    <% end %>
     
<% end %>
<% if @timesheet.present? %>

  <table id="report">
    <tr id ="list">
      <th>Employee</th>
      <th>Client List</th>
      <th>Project</th>
      <th>Activity</th>
      <th>Task</th>
      <th>Date</th>
      <th>In Time</th>
      <th>Out Time</th>
      <th>Remarks</th>
    </tr>
    
    <%= form_tag({:controller => 'tasksheets', :action => 'admin_report_submit'}, method: :post,  :id => "admin_form" )  do  %>
      <% hidden_value = 0 %>
      <% @hidden_value_array = Array.new %>
     
        <% @timesheet.sort{|a,b| a.date <=> b.date}.each do |tasksheet| %>  
          <% @same_date = tasksheet.date if @same_date.blank? %>
          <% if @same_date == tasksheet.date %>
            <% @hidden_value_array << hidden_value %>
      
            <tr id ="description">
              <td><%= hidden_field_tag "employee_id_#{hidden_value}", tasksheet.employee_id%>
                <%= tasksheet.employee.first_name %></td>
              <td><%= hidden_field_tag "client_list_id_#{hidden_value}", tasksheet.client_list_id %>
                <%= tasksheet.client_list.name %></td>  
              <td><%= hidden_field_tag "project_id_#{hidden_value}", tasksheet.project_id %>
                <%= tasksheet.project.name %></td>
              <td><%= hidden_field_tag "activity_id_#{hidden_value}", tasksheet.activity_id %>
                <%= tasksheet.activity.name %></td>
              <td><%= hidden_field_tag "task_#{hidden_value}", tasksheet.task %>
                <%= tasksheet.task %></td>
              <td><%= hidden_field_tag "date_#{hidden_value}", tasksheet.date %>
                <%= tasksheet.date.to_date %></td>
              <td><%= hidden_field_tag "in_time_#{hidden_value}", tasksheet.in_time %>
                <%= tasksheet.in_time.to_s(:time) %></td>
              <td><%= hidden_field_tag "out_time_#{hidden_value}", tasksheet.out_time %>
                <%= tasksheet.out_time.to_s(:time) %></td>
              <td><%= hidden_field_tag "remarks_#{hidden_value}", tasksheet.remarks %>
                <%= tasksheet.remarks %></td>
            </tr>
          <% else %>
            <tr>
              <td><%= submit_tag "Accept for #{@same_date.to_date}", :name => 'accept' %></td>
             <td><%= submit_tag "Reject for #{@same_date.to_date}", :name => 'reject', :id => "reject_individual_#{@same_date.to_date}" %></td>
               <td><%= text_field_tag "comments_#{@same_date.to_date}", "" , :id => "individual_comments_#{@same_date.to_date}" %></td>
            </tr>
          <script>
           $('#individual_comments_<%= @same_date.to_date %>').hide();
           
              $('#reject_individual_<%= @same_date.to_date %>').click(function (e) {
                e.preventDefault();
                if ($('#individual_comments_<%= @same_date.to_date %>').val() == "")
                  {
                    $('#individual_comments_<%= @same_date.to_date %>').show();
                  }
                else
                 {
                 var myId = $('#reject_individual_<%= @same_date.to_date %>').val();
               
                 $('#reject_params').val(myId);
                  
                    $("#admin_form").submit();
                 }
               });

     
            </script>
            
            
         
            <% @hidden_value_array << hidden_value %>
            <tr id ="description">
              <td><%= hidden_field_tag "employee_id_#{hidden_value}", tasksheet.employee_id%>
                <%= tasksheet.employee.first_name %></td>
              <td><%= hidden_field_tag "client_list_id_#{hidden_value}", tasksheet.client_list_id %>
                <%= tasksheet.client_list.name %></td>  
              <td><%= hidden_field_tag "project_id_#{hidden_value}", tasksheet.project_id %>
                <%= tasksheet.project.name %></td>
              <td><%= hidden_field_tag "activity_id_#{hidden_value}", tasksheet.activity_id %>
                <%= tasksheet.activity.name %></td>
              <td><%= hidden_field_tag "task_#{hidden_value}", tasksheet.task %>
                <%= tasksheet.task %></td>
              <td><%= hidden_field_tag "date_#{hidden_value}", tasksheet.date %>
                <%= tasksheet.date.to_date %></td>
              <td><%= hidden_field_tag "in_time_#{hidden_value}", tasksheet.in_time %>
                <%= tasksheet.in_time.to_s(:time) %></td>
              <td><%= hidden_field_tag "out_time_#{hidden_value}", tasksheet.out_time %>
                <%= tasksheet.out_time.to_s(:time) %></td>
              <td><%= hidden_field_tag "remarks_#{hidden_value}", tasksheet.remarks %>
                <%= tasksheet.remarks %></td>
            </tr>
          <% end %>
          <% hidden_value += 1 %>
          <% @same_date = tasksheet.date %>
           
        <% end %>
          <tr>
            <td><%= submit_tag "Accept for #{@same_date.to_date}" , :name => 'accept'%></td>
              <td><%= submit_tag "Reject for #{@same_date.to_date}", :name => 'reject', :id => "reject_individual_#{@same_date.to_date}" %></td>
               <td><%= text_field_tag "comments_#{@same_date.to_date}", "" , :id => "individual_comments_#{@same_date.to_date}" %></td>

          </tr>
         <script>
           $('#individual_comments_<%= @same_date.to_date %>').hide();
           
              $('#reject_individual_<%= @same_date.to_date %>').click(function (e) {
                e.preventDefault();
                if ($('#individual_comments_<%= @same_date.to_date %>').val() == "")
                  {
                    $('#individual_comments_<%= @same_date.to_date %>').show();
                  }
                else
                 {
                 var myId = $('#reject_individual_<%= @same_date.to_date %>').val();
               
                 $('#reject_params').val(myId);
                  
                    $("#admin_form").submit();
                 }
               });

     
            </script>
            
  </table>
  <%= hidden_field_tag  "hidden_value_array", @hidden_value_array  %> 
  <tr>
    <td><%= submit_tag 'Accept for all', :name => "accept_all"%></td>
    <td><%= submit_tag "Reject for All", :name => "reject_all", :id => 'reject_all' %></td>
     <td><%= text_field_tag "comments", "" , :class => 'comments' %></td>
</tr> 
 <script>
           $('.comments').hide();
           
              $('#reject_all').click(function (e) {
                e.preventDefault();
                $('.comments').show();
              
                if ($('.comments').val() != "") {
                var myId = $('#reject_all').val();
               
                 $('#reject_all_params').val(myId);
                  
               
                  $('#admin_form').submit();
                  }
               });

     
     </script>
             <td><%= hidden_field_tag "reject_params", "" %></td>
              <td><%= hidden_field_tag "reject_all_params" , "" %></td>
    
    <% end %>
<% end %>




<% if @task.present? %>

  <table id="report">
    <tr id ="list">
      <th>Employee</th>
      <th>Client List</th>
      <th>Project</th>
      <th>Activity</th>
      <th>Task</th>
      <th>Date</th>
      <th>In Time</th>
      <th>Out Time</th>
      <th>Remarks</th>
    </tr>
    
    <%= form_tag(:controller => 'tasksheets', :action => 'admin_report_submit',  method: :post) %>
      <% hidden_value = 0 %>
      <% @hidden_value_array = Array.new %>
     
        <% @task.sort{|a,b| a.date <=> b.date}.each do |tasksheet| %>  
          <% @same_date = tasksheet.date if @same_date.blank? %>
          <% if @same_date == tasksheet.date %>
            <% @hidden_value_array << hidden_value %>
      
            <tr id ="description">
              <td><%= hidden_field_tag "employee_id_#{hidden_value}", tasksheet.employee_id%>
                <%= tasksheet.employee.first_name %></td>
              <td><%= hidden_field_tag "client_list_id_#{hidden_value}", tasksheet.client_list_id %>
                <%= tasksheet.client_list.name %></td>  
              <td><%= hidden_field_tag "project_id_#{hidden_value}", tasksheet.project_id %>
                <%= tasksheet.project.name %></td>
              <td><%= hidden_field_tag "activity_id_#{hidden_value}", tasksheet.activity_id %>
                <%= tasksheet.activity.name %></td>
              <td><%= hidden_field_tag "task_#{hidden_value}", tasksheet.task %>
                <%= tasksheet.task %></td>
              <td><%= hidden_field_tag "date_#{hidden_value}", tasksheet.date %>
                <%= tasksheet.date.to_date %></td>
              <td><%= hidden_field_tag "in_time_#{hidden_value}", tasksheet.in_time %>
                <%= tasksheet.in_time.to_s(:time) %></td>
              <td><%= hidden_field_tag "out_time_#{hidden_value}", tasksheet.out_time %>
                <%= tasksheet.out_time.to_s(:time) %></td>
              <td><%= hidden_field_tag "remarks_#{hidden_value}", tasksheet.remarks %>
                <%= tasksheet.remarks %></td>
            </tr>
          <% else %>
            <tr>
              <td><%= submit_tag "Accept for #{@same_date.to_date}", :name => 'accept' %></td>
              <td><%= submit_tag "Reject for #{@same_date.to_date}" , :name => 'reject', :class => 'reject'%></td>
            </tr>
            
            
         
            <% @hidden_value_array << hidden_value %>
            <tr id ="description">
              <td><%= hidden_field_tag "employee_id_#{hidden_value}", tasksheet.employee_id%>
                <%= tasksheet.employee.first_name %></td>
              <td><%= hidden_field_tag "client_list_id_#{hidden_value}", tasksheet.client_list_id %>
                <%= tasksheet.client_list.name %></td>  
              <td><%= hidden_field_tag "project_id_#{hidden_value}", tasksheet.project_id %>
                <%= tasksheet.project.name %></td>
              <td><%= hidden_field_tag "activity_id_#{hidden_value}", tasksheet.activity_id %>
                <%= tasksheet.activity.name %></td>
              <td><%= hidden_field_tag "task_#{hidden_value}", tasksheet.task %>
                <%= tasksheet.task %></td>
              <td><%= hidden_field_tag "date_#{hidden_value}", tasksheet.date %>
                <%= tasksheet.date.to_date %></td>
              <td><%= hidden_field_tag "in_time_#{hidden_value}", tasksheet.in_time %>
                <%= tasksheet.in_time.to_s(:time) %></td>
              <td><%= hidden_field_tag "out_time_#{hidden_value}", tasksheet.out_time %>
                <%= tasksheet.out_time.to_s(:time) %></td>
              <td><%= hidden_field_tag "remarks_#{hidden_value}", tasksheet.remarks %>
                <%= tasksheet.remarks %></td>
            </tr>
          <% end %>
          <% hidden_value += 1 %>
          <% @same_date = tasksheet.date %>
        <% end %>
          <tr>
            <td><%= submit_tag "Accept for #{@same_date.to_date}" , :name => 'accept'%></td>
            <td><%= submit_tag "Reject for #{@same_date.to_date}", :name => 'reject', :class => 'reject' %></td>
        

          </tr>
  </table>
  <%= hidden_field_tag  "hidden_value_array", @hidden_value_array  %> 
  <tr>
    <td><%= submit_tag 'Accept for all', :name => "accept_all"%></td>
    <td><%= submit_tag "Reject for All", :name => "reject_all", :class => 'reject_all' %></td>
    <td><%= text_field_tag "comments", '' , :class => 'comments' %></td>


  </tr> 
    
<% end %>



</div>
