#nitin_form
  %h1 Client's Description
  %p#notice= notice 
  %table
    %tr
      %th Name:
      %td= @client_list.name 
    %tr
      %th Code:
      %td= @client_list.code 
        
    - @client_list.projects.each do |project| 
      %tr
        %th Project:  
        %td= project.name 
%br/
= link_to 'Edit', edit_client_list_path 
- unless @client_list.projects.present? 
  = link_to 'Delete',@client_list_id, confirm: 'Are you sure', method: :delete 
= link_to 'Back', client_lists_path 



