<!DOCTYPE html>

<html>
<head>
  <title>Timesheet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller.controller_name %>">
  <p class="notice"><%= notice %></p>
 
      <div id="secondaryContent">
        <%= render 'common/session' %>
      </div>
        <%= yield %>
      
   
</body>
</html>
